ENV='PRODUCTION'
CORS_ALLOW_ORIGINS=

TEST_DATABASE_HOST=db-test
TEST_DATABASE_PORT=5433
TEST_DATABASE_NAME=
TEST_DATABASE_USER=
TEST_DATABASE_PASSWORD=

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=


RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=

MEDIA_DIRECTORY=
BASE_DICTIONARY_DIRECTORY=

DEFAULT_USERNAME=
DEFAULT_PASSWORD=
DEFAULT_PHONE=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

ACCESS_TOKEN_EXPIRATION_TIME_DELTA_MINUTES=
REFRESH_TOKEN_EXPIRATION_TIME_DELTA_MINUTES=
API_TOKEN_EXPIRATION_TIME_DELTA_MINUTES=

CART_VALID_SECS=60

IP_PANEL_GATEWAY=
IP_PANEL_SMS_SENDER=